p {color:rgb(68, 44, 11)}
h1 {font-style: oblique; font-size: 100px; color:rgb(141, 67, 58)}
p {font-size: 50px;}
img {height: 1050px; width: 1000px;}
.병신 {height: 1300px; width: 1850px;}
body {text-align: center}