p {color:rgb(68, 44, 11)}
h1 {font-style: oblique; font-size: 60px; color:rgb(141, 67, 58)}
p {font-style: normal; font-size: 25px;}
img {height: 650px; width: 810px;}
.병신 {height: 1300px; width: 1850px;}
body {text-align: center}
.등신 {font-size: 10px; color: red}
.한신 {font-size: 57px; color: rgb(139, 216, 25)}
.헌신 img {height: 630px; width: 700px;}
.으 {color: red}
.흐 {color: rgb(255, 123, 0)}
.루 {color: rgb(255, 196, 0)}
.꾸 {color: green}
.구 {color: rgb(0, 183, 255)}
.르 {color: blue}
.후 {color: rgb(132, 0, 255)}
.우 {color: rgb(255, 0, 179)


